Backdrop
Battle
BattleCharSet
BattleWeapon
CharSet
ChipSet
FaceSet
GameOver
Monster
Music
Panorama
Picture
readme.txt
RPG_RT.exe
RPG_RT.ini
RPG_RT.ldb
RPG_RT.lmt
Sound
System
System2
Title
Uninstal.exe
*.lmu
